 /* .button {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding-right: 50px;
     margin-bottom: 50px;
 }

 button {
     width: 328px;
     height: 48px;
     margin: 50px 0 0 16px;
     padding: 10px 0;
     background: lightpink;
     /* background: rgba(255, 111, 63, 1); */
 /* color: rgba(255, 255, 255, 1);
     cursor: pointer;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 button:active {
     background: rgba(255, 111, 63, 1); */

 /* }  */


 .button {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding-right: 50px;
     margin-bottom: 50px;
 }

 button {
     width: 328px;
     height: 48px;
     margin: 50px 0 0 16px;
     padding: 10px 0;
     background: rgba(255, 111, 63, 1);
     /* background: lightpink; */
     color: rgba(255, 255, 255, 1);
     cursor: pointer;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: background 0.3s;
 }

 button:active {
     background: rgba(255, 111, 63, 1);
 }

 button:disabled {
     background: rgba(255, 111, 63, 0.5);
     /* Adjust background color to indicate disabled state */
     cursor: not-allowed;
     /* Change cursor to indicate it's not clickable */
 }